@charset "utf-8";

section{
	
	margin:0;
	
	padding:0;
	
	background-color:#d40000;
	
	width:100%;
	
	height:100%;
}
.diverror{
	
	background-color:white;
	
	width:65%;
	
	margin:auto;
	
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}